@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.title{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.container {
  max-width: 750px; 
  width: 100%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px; 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.wrapper {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  overflow: hidden; 
  background: #fdfdfd;
}

.wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #eee;
}

.text-input textarea {
  height: 280px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-size: 18px;
  padding: 20px;
  color: #333;
  transition: all 0.3s ease;
}

.text-input .from-text {
  border-right: 1px solid #eee;
}

.text-input textarea::placeholder {
  color: #bfbfbf;
}

/* Custom Scrollbar */
textarea::-webkit-scrollbar {
  width: 6px;
}
textarea::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 10px;
}